
body {
  margin: 0;
  font-size: 20px;
   font-family: "San Francisco";
   background: url(../img/bgempleados.jpg) no-repeat center top;
}


@font-face {
  font-family: "San Francisco";
  font-weight: 25;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
